* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.angel {
  position: absolute;
  width: 80px;
  transition: all 0.5s;
}
.angel:hover {
  transform: rotateZ(360deg);
}
.top {
  display: flex;
  margin-left: 35%;
  justify-content: space-between;
}
.top .search {
  position: relative;
}
.top .search input {
  width: 400px;
  border-radius: 10px;
  outline-color: violet;
  height: 25px;
}
.top .search img {
  position: absolute;
  left: 380px;
  top: 6px;
  width: 16px;
}
.top .signBtn {
  background: linear-gradient(to right top, #a9def9, #7b2cbf);
  border-radius: 40px;
  padding: 10px;
}
.siRe {
  display: none;
  margin-left: 33%;
  margin-top: 10%;
  width: 35%;
  height: 35%;
  background-color: #c5d1dc;
  border-radius: 10px;
  position: fixed;
}
.siRe small {
  color: #53718d;
}
.siRe img {
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.siRe .siReNav {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.siRe .siReNav span {
  width: 60px;
  background-color: #e3d5ca;
  border-radius: 50px;
  text-align: center;
  color: #ff70ff;
}
.siRe .siReMain {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.siRe .siReMain .si .namePassword {
  outline: none;
  border: 0;
  padding: 10px;
  border-bottom: 3px solid #9696f0;
  background-color: transparent;
}
.siRe .siReMain .si .submit {
  width: 180px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 0;
  border-radius: 20px;
  margin-top: 40px;
  color: #fff;
  background-image: linear-gradient(to left, #fd79a8, #a29bfe);
}
.siRe .siReMain .re .namePassword {
  outline: none;
  border: 0;
  padding: 10px;
  border-bottom: 3px solid #9696f0;
  background-color: transparent;
}
.siRe .siReMain .re .submit {
  width: 180px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 0;
  border-radius: 20px;
  margin-top: 40px;
  color: #fff;
  background-image: linear-gradient(to left, #fd79a8, #a29bfe);
}
.rotograph {
  margin-top: 80px;
  height: 100px;
  width: 100%;
  background-color: #a9def9;
}
.images {
  height: 100px;
  width: 100%;
  background-color: #fd79a8;
}
.recommend {
  height: 100px;
  width: 100%;
  background-color: violet;
}
.comment textarea {
  margin-left: 25%;
  width: 50%;
  height: 10%;
  border: 8px solid pink;
  border-radius: 20px;
  outline: none;
  resize: none;
}
.comment .release {
  width: 60px;
  background-color: #e3d5ca;
  border-radius: 50px;
  text-align: center;
  color: #ff70ff;
  font-size: 18px;
}
.comment li {
  width: 50%;
  margin-left: 25% ;
  padding: 5px;
  background-color: #a2d2ff;
  margin-top: 20px;
  list-style: none;
  border-radius: 10px;
}
.comment li p {
  margin-left: 90%;
  width: 40px;
  background-color: #e3d5ca;
  border-radius: 50px;
  text-align: center;
  color: #ff70ff;
}
